html {
  /* 62.5% * 16 = 10px */
  font-size: 62.5%;
}

div {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: red;
}

.grid {
  background-color: white;
  width: 90%;
  height: 100%;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 400px 240px 240px 400px 500px;
  grid-row-gap: 2rem;
}
